body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.hero {
  /*background-image: url("C:\\Users\\noufa\\OneDrive\\Pictures\\Screenshots\\WhatsApp Image 2025-02-16 at 10.04.05 AM.JPG");
  background-size: cover;*/
  background-color: black;
  background-position: center;
  height: 100lvh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
}

.sign-up-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 12px;
  width: 380px;
  text-align: center;
  animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.sign-up-container h3 {
  font-size: 26px;
  font-weight: 600;
  color: #333;
  letter-spacing: 1px;
}

.sign-up-container input {
  width: 100%;
  padding: 14px;
  margin: 12px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #333;
  background-color: rgba(220, 220, 220);
}

.sign-up-container input:focus {
  outline: none;
  border: 1px solid #d61616;
  background-color: white;
}

.sign-up-container button,
.back-btn {
  width: 100%;
  padding: 14px;
  background-color: #d61616;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.sign-up-container button:hover,
.back-btn:hover {
  background-color: #d61616;
  transform: scale(1.05);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero {
  animation: Bounce 0.3s ease-in;
}
@keyframes Bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
